body {
    background-color: #ffca6e;
}

.container {
    position: relative;
}

.container:hover #ball {
    animation: bounce 30s;
    animation-timing-function: cubic-bezier(0, 0, 0, 0);

}

#ball {
    display: block;
    background: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: radial-gradient(circle at 0px 0px, #ffca6e, #000);
    position: absolute;
    top: 300px;
    left: 300px
}

#left-hole {
    display: inline-block;
    background: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 16.1%;
    margin-left: 16.1%;
    box-shadow:
        0px -3px 17px 7px black,
        0px 3px 17px 3px white;

}

#right-hole {
    display: inline-block;
    background: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 16%;
    margin-left: 56%;
    box-shadow:
        0px -3px 17px 7px black,
        0px 3px 17px 3px white;

}

@keyframes bounce {

    10% {
        transform: translateY(523px);
        height: 100px;
        width: 100px;
    }
    11% {
        transform: translateY(573px);
        height: 50px;
        width: 100px;

    }
    20% {
        transform: translateY(-310px) translateX(700px) rotate(0.05turn) ;
        height: 100px;
        width: 50px;
    }
    21% {
        transform: translateY(-310px) translateX(700px);
        height: 50px;
        width: 100px;
    }


}